{% extends 'frontbase.html.twig' %}



{% block body %}

    <section id="product1" class="section-p1">
        <h2>Featured Ads</h2>

        <div class="pro-container">
            <!-- 1 -->
            <div class="pro">
                <img src="{{ asset('./styles/frontpage/img/features/f1.png') }}" alt="">
                <div class="des">

                    <h5>Apple Products</h5>

                    <h4>(0) Products Available</h4>
                </div>
                <a href="" class="cart"><i class="fa fa-star" aria-hidden="true"></i></a>
            </div>
            <!-- 2 -->
            <div class="pro">
                <img src="{{ asset('./styles/frontpage/img/features/f1.png') }}" alt="">
                <div class="des">

                    <h5>Samsung Products</h5>

                    <h4>(0) Products Available</h4>
                </div>
                <a href="" class="cart"><i class="fa fa-star" aria-hidden="true"></i></a>
            </div>
            <!-- 3 -->
            <div class="pro">
                <img src="{{ asset('./styles/frontpage/img/features/f1.png') }}" alt="">
                <div class="des">

                    <h5>Xiaomi Products</h5>

                    <h4>(0) Products Available</h4>
                </div>
                <a href="" class="cart"><i class="fa fa-star" aria-hidden="true"></i></a>
            </div>
            <!-- 4 -->
            <div class="pro">
                <img src="{{ asset('./styles/frontpage/img/features/f1.png') }}" alt="">
                <div class="des">

                    <h5>OnePlus Products</h5>

                    <h4>(0) Products Available</h4>
                </div>
                <a href="" class="cart"><i class="fa fa-star" aria-hidden="true"></i></a>
            </div>
            <!-- 5 -->
            <div class="pro">
                <img src="{{ asset('./styles/frontpage/img/features/f1.png') }}" alt="">
                <div class="des">

                    <h5>Google Products</h5>

                    <h4>(0) Products Available</h4>
                </div>
                <a href="" class="cart"><i class="fa fa-star" aria-hidden="true"></i></a>
            </div>
            <!-- 6 -->
            <div class="pro">
                <img src="{{ asset('./styles/frontpage/img/features/f1.png') }}" alt="">
                <div class="des">

                    <h5>Oppo Products</h5>

                    <h4>(0) Products Available</h4>
                </div>
                <a href="" class="cart"><i class="fa fa-star" aria-hidden="true"></i></a>
            </div>
            <!-- 7 -->
            <div class="pro">
                <img src="{{ asset('./styles/frontpage/img/features/f1.png') }}" alt="">
                <div class="des">

                    <h5>Vivo Products</h5>

                    <h4>(0) Products Available</h4>
                </div>
                <a href="" class="cart"><i class="fa fa-star" aria-hidden="true"></i></a>
            </div>
            <!-- 8 -->
            <div class="pro">
                <img src="{{ asset('./styles/frontpage/img/features/f1.png') }}" alt="">
                <div class="des">

                    <h5>Others Products</h5>


                </div>
                <a href="" class="cart"><i class="fa fa-star" aria-hidden="true"></i></a>
            </div>
        </div>

    </section>




{% endblock %}
