<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="{{ asset('styles/about/style.css') }}">
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
</head>
<body>
<section>
    <div class="container">
        <h1 class="heading">Meet The Team</h1>
        <div class="card-wrapper">

            <div class="card">
                <img src="{{ ('./styles/about/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                <img src="{{ ('./styles/about/1.jpg') }}" alt="profile-image" class="profile-img">
                <h1>Isuru</h1>
                <p class="job-title">UI/UX Developer</p>
                <p class="about">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam facilis numquam voluptatum ul
                    lam ratione esse, assumenda dolorem excepturi fuga, quaerat, nam atque eligendi libero officiis prae
                    sentium at totam consequuntur rerum.</p>
                <a href="#" class="btn">Contact</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ ('./styles/about/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                <img src="{{ ('./styles/about/2.jpg') }}" alt="profile-image" class="profile-img">
                <h1>Akash</h1>
                <p class="job-title">Lead Developer</p>
                <p class="about">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam facilis numquam voluptatum ul
                    lam ratione esse, assumenda dolorem excepturi fuga, quaerat, nam atque eligendi libero officiis prae
                    sentium at totam consequuntur rerum.</p>
                <a href="#" class="btn">Contact</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ ('./styles/about/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                <img src="{{ ('./styles/about/3.jpg') }}" alt="profile-image" class="profile-img">
                <h1>Yasiru</h1>
                <p class="job-title">Web Developer</p>
                <p class="about">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam facilis numquam voluptatum ul
                    lam ratione esse, assumenda dolorem excepturi fuga, quaerat, nam atque eligendi libero officiis prae
                    sentium at totam consequuntur rerum.</p>
                <a href="#" class="btn">Contact</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ ('./styles/about/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                <img src="{{ ('./styles/about/4.jpg') }}" alt="profile-image" class="profile-img">
                <h1>Vinuka</h1>
                <p class="job-title">Designer</p>
                <p class="about">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam facilis numquam voluptatum ul
                    lam ratione esse, assumenda dolorem excepturi fuga, quaerat, nam atque eligendi libero officiis prae
                    sentium at totam consequuntur rerum.</p>
                <a href="#" class="btn">Contact</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                </ul>
            </div>

            <div class="card">
                <img src="{{ ('./styles/about/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                <img src="{{ ('./styles/about/5.png') }}" alt="profile-image" class="profile-img">
                <h1>Sachin</h1>
                <p class="job-title">Back-end Developer</p>
                <p class="about">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam facilis numquam voluptatum ul
                    lam ratione esse, assumenda dolorem excepturi fuga, quaerat, nam atque eligendi libero officiis prae
                    sentium at totam consequuntur rerum.</p>
                <a href="#" class="btn">Contact</a>
                <ul class="social-media">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>