<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('./styles/frontpage/index.css') }}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect"
                                                                     href="https://fonts.gstatic.com"
                                                                     crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title>onlinekade.shop</title>
</head>
<body>

<section id="header">
    <!-- Need to Change -->
    <a href="#"><img src="{{ asset('./styles/frontpage/img/logo.png') }}" class="logo" alt="Logo"></a>
    <div>
        <ul id="navbar">
            <li><a class="active" href="index.html">Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="market.html">Market <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
            <li><a href="{{ path('app_login') }}">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
            <li><a href="contact-us.html">Contact <i class="fa fa-phone" aria-hidden="true"></i></a></li>
            <li><a href="{{ path('aboutus') }}">About <i class="fa fa-address-card" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</section>

<section id="hero">
    <h4>Sell Any Mobiles</h4>
    <h2>Super Value Deals</h2>
    <h1>On Many Mobiles</h1>
    <h1>& Accessories</h1>
    <p>Sri Lanka's Growing Market Place</p>
    <button>Shop Now</button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="{{ asset('./styles/frontpage/img/features/f1.png') }}">
        <h6>Free Ads</h6>
    </div>
    <div class="fe-box">
        <img src="{{ asset('./styles/frontpage/img/features/f2.png') }}">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="{{ asset('./styles/frontpage/img/features/f3.png') }}">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="{{ asset('./styles/frontpage/img/features/f4.png') }}">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="{{ asset('./styles/frontpage/img/features/f5.png') }}">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="{{ asset('./styles/frontpage/img/features/f6.png') }}">
        <h6>Free Support</h6>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Featured Brands</h2>
    <p>From Apple to ZTE</p>
    <div class="pro-container">
        <!-- Apple -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products2/l2.jpg') }}" alt="">
            <div class="des">

                <h5>Apple Products</h5>

                <h4>(0) Products Available</h4>
            </div>

            <a href="{{ path('show_posts', {category_id:"1"}) }}" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Samsung -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products2/l7.2.png') }}" alt="">
            <div class="des">

                <h5>Samsung Products</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Xiaomi -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products2/x1.1.png') }}" alt="">
            <div class="des">

                <h5>Xiaomi Products</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Oneplus -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products2/l3.jpg') }}" alt="">
            <div class="des">

                <h5>OnePlus Products</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- google -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products2/g1.1.png') }}" alt="">
            <div class="des">

                <h5>Google Products</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Oppo -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products2/l4.jpg') }}" alt="">
            <div class="des">

                <h5>Oppo Products</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Vivo -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products2/l5.jpg') }}" alt="">
            <div class="des">

                <h5>Vivo Products</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Others -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products2/l8.2.jpg') }}" alt="">
            <div class="des">

                <h5>Others Products</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>

</section>

<section id="banner" class="section-m1">
    <h4>Accessories & Repair Services</h4>
    <h2>All Phone Accessories and Repair Services for <span>LOWEST</span> Price EVER</h2>
    <button class="normal">Explore More</button>
</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>From Headphones to Batteries</p>
    <div class="pro-container">
        <!-- Apple -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products3/p3.jpg') }}" alt="">
            <div class="des">

                <h5>Apple Products</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Earphones -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products3/p9.2.png') }}" alt="">
            <div class="des">

                <h5>Earphones</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Headphones -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products3/p2.jpg') }}" alt="">
            <div class="des">

                <h5>Headphones</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Powerbanks -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products3/p6.jpg') }}" alt="">
            <div class="des">

                <h5>Powerbanks</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Screen Protectors -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products3/p1.jpg') }}" alt="">
            <div class="des">

                <h5>Screen Protector</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Cases -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products3/p7.jpg') }}" alt="">
            <div class="des">

                <h5>Cases</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Others -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products3/p4.jpg') }}" alt="">
            <div class="des">

                <h5>Other Products</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <!-- Repair -->
        <div class="pro">
            <img src="{{ asset('./styles/frontpage/img/products3/p5.jpg') }}" alt="">
            <div class="des">

                <h5>Repair Services</h5>

                <h4>(0) Products Available</h4>
            </div>
            <a href="" class="cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>

</section>

<section id="banner2" class="section-m1">
    <h4>Join with us to</h4>
    <h2>Buy  for <span>LOWEST</span> Price & Sell for <span>HIGHEST</span> Price EVER</h2>

    <button class="normal">Sign up</button>
</section>

<section id="sm-banner" class="section-p1">
    <div class="banner-box">

        <!-- <button class="white">Donate</button> -->
    </div>
    <div class="banner-box2">

        <!-- <button class="white">Explore</button> -->
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-Mail update about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type=" email" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="img/logo.png" alt="">
        <h4>Contact</h4>
        <p><strong> Address:</strong> NSBM,Pitipana Rd, Homagama,Sri Lanka</p>
        <p><strong> Phone:</strong> +94 766611223</p>
        <p><strong> Hours:</strong> 10:00 - 15:00,Mon - Fri</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">My Watchlist</a>
        <a href="#">Help</a>
    </div>
    <div class="col install">
        <h4>Install App (Coming Soon) </h4>
        <p>From Apple Store or Play Store</p>
        <div class=app.jpg"row">
            <img src="{{ asset('./styles/frontpage/img/pay/app.jpg') }}" alt="">
            <img src="{{ asset('./styles/frontpage/img/pay/play.jpg') }}" alt="">
        </div>
        <p>Secured Payment Gateways (Coming Soon) </p>

    </div>
    <div class="copyright">
        <p>©2022,Product of <b>CoDeX</b> </p>
    </div>
</footer>

<script src="{{ asset('/styles/frontpage/index.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</body>
</html>