{% extends 'newfrontbase.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('./styles/team/style.css') }}">
    <section>
        <div class="container">

            <div class="card-wrapper">

                <div class="card">
                    <img src="{{ asset('./styles/team/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                    <img src="{{ asset('./styles/team/1.jpg') }}" alt="profile-image" class="profile-img">
                    <h1>Isuru</h1>
                    <p class="job-title">UI/UX Developer</p>
                    <p class="about">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam facilis numquam voluptatum ul
                        lam ratione esse, assumenda dolorem excepturi fuga, quaerat, nam atque eligendi libero officiis prae
                        sentium at totam consequuntur rerum.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="{{ asset('./styles/team/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                    <img src="{{ asset('./styles/team/2.jpg') }}" alt="profile-image" class="profile-img">
                    <h1>Akash</h1>
                    <p class="job-title">Lead Developer</p>
                    <p class="about">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam facilis numquam voluptatum ul
                        lam ratione esse, assumenda dolorem excepturi fuga, quaerat, nam atque eligendi libero officiis prae
                        sentium at totam consequuntur rerum.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="{{ asset('./styles/team/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                    <img src="{{ asset('./styles/team/3.jpg') }}" alt="profile-image" class="profile-img">
                    <h1>Yasiru</h1>
                    <p class="job-title">Web Developer</p>
                    <p class="about">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam facilis numquam voluptatum ul
                        lam ratione esse, assumenda dolorem excepturi fuga, quaerat, nam atque eligendi libero officiis prae
                        sentium at totam consequuntur rerum.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="{{ asset('./styles/team/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                    <img src="{{ asset('./styles/team/4.jpg') }}" alt="profile-image" class="profile-img">
                    <h1>Vinuka</h1>
                    <p class="job-title">Designer</p>
                    <p class="about">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam facilis numquam voluptatum ul
                        lam ratione esse, assumenda dolorem excepturi fuga, quaerat, nam atque eligendi libero officiis prae
                        sentium at totam consequuntur rerum.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="{{ asset('./styles/team/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                    <img src="{{ asset('./styles/team/5.png') }}" alt="profile-image" class="profile-img">
                    <h1>Sachin</h1>
                    <p class="job-title">Back-end Developer</p>
                    <p class="about">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam facilis numquam voluptatum ul
                        lam ratione esse, assumenda dolorem excepturi fuga, quaerat, nam atque eligendi libero officiis prae
                        sentium at totam consequuntur rerum.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ asset('./styles/team/index.js') }}"></script>
{% endblock body %}