{% extends 'newfrontbase.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('./styles/team/style.css') }}">
    <section>
        <div class="container">

            <div class="card-wrapper">

                <div class="card">
                    <img src="{{ asset('./styles/team/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                    <img src="{{ asset('./styles/team/1.jpg') }}" alt="profile-image" class="profile-img">
                    <h1>Isuru</h1>
                    <p class="job-title">UI/UX Developer</p>
                    <p class="about">
                        As a UI developer, I am a creative problem-solver with a passion for creating user-centered digital experiences. I have a strong background in HTML, CSS, JavaScript, and front-end development frameworks such as React and Vue.js. I believe in using clean and efficient code to build interfaces that are not only visually appealing, but also intuitive and accessible to all users.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="{{ asset('./styles/team/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                    <img src="{{ asset('./styles/team/2.jpg') }}" alt="profile-image" class="profile-img">
                    <h1>Akash</h1>
                    <p class="job-title">Lead Developer</p>
                    <p class="about">
                        As a lead developer, I have a strong technical background in software engineering and a passion for creating innovative solutions to complex problems. With several years  of experience in Java script, I have a proven track record of delivering successful projects on time and within budget</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="{{ asset('./styles/team/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                    <img src="{{ asset('./styles/team/3.jpg') }}" alt="profile-image" class="profile-img">
                    <h1>Yasiru</h1>
                    <p class="job-title">Web Developer</p>
                    <p class="about">
                        As a web developer, I am passionate about creating dynamic, user-friendly websites and web applications. With extensive experience in HTML, CSS, JavaScript, and various back-end technologies such as Node.js and PHP, I have a proven track record of delivering successful projects for a wide range of clients.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="{{ asset('./styles/team/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                    <img src="{{ asset('./styles/team/4.jpg') }}" alt="profile-image" class="profile-img">
                    <h1>Vinuka</h1>
                    <p class="job-title">Designer</p>
                    <p class="about">
                        As a web designer, I am passionate about creating visually appealing and user-centered websites that make a lasting impression on visitors. I have a strong background in graphic design, typography, and color theory, and I have experience using design tools such as Adobe Photoshop, Illustrator, and Sketch.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="{{ asset('./styles/team/banner2.jpg') }}" alt="card-backgroud" class="card-img">
                    <img src="{{ asset('./styles/team/5.png') }}" alt="profile-image" class="profile-img">
                    <h1>Sachin</h1>
                    <p class="job-title">Back-end Developer</p>
                    <p class="about">
                        As a backend developer, I specialize in developing the server-side components of web applications and ensuring their seamless integration with the front-end. I have expertise in programming languages such as Node.js, Python, and Java, and have experience working with databases such as MySQL, MongoDB, and PostgreSQL.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ asset('./styles/team/index.js') }}"></script>
{% endblock body %}